link(rel="stylesheet", href="style.css", type="text/css")
#title 
    h1 Pugs r da best!
#pageVisits
    a(href="/") 
        img(src="spinner.gif", alt="Spinning pug")
    h3 This page has been visited #{pageVisits} times!
    h4 (Click the image to refresh!)